__pycache__/
*.pyc

# Terraform artifacts
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.tfvars
.tfvars.json
plan.tfplan

# Local pre-commit runner artifacts
run_precommit.sh
.pre-commit-cache/
.tools/
